.top-container {
    width: 90%;
    display: flex;
    margin: 2rem 0 0 0;
    align-items: start;
}

.search-container {
    display: flex;
    width: 50rem;
    margin-left: auto;
    align-items: end;
    justify-content: end;
}

.add-button {
    width: 4rem;
}

.form-container {
    width: 30rem;
    margin: 0 0 0 3rem;
}

.table-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
    border-radius: 20px;
    background-color: white;
}

.table {
    width: 95%;
    margin: 2rem 0 2rem 0;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);
}

.modal.show {
    display: block;
}

.modal_body {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 45rem;
    height: 60rem;

    padding: 40px;

    text-align: center;

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transform: translateX(-50%) translateY(-50%);
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.add-form-container {
    margin: 5rem 0 0 0;
}

.add-form-button{
    margin: 3rem 0 0 0;
    width: 100%;
    height: 3rem;
}